<h1 mat-dialog-title>Editar colchon</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Titulo</mat-label>
    <input matInput #title [value]="data.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>URL de la imagen</mat-label>
    <input matInput #image [value]="data.image" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput type="number" #price [value]="data.price" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripcion</mat-label>
    <textarea
      matInput
      rows="5"
      #description
      [value]="data.description"
    ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    class="btn btn-primary btn-block"
    [mat-dialog-close]="data"
    (click)="save(title.value, image.value, description.value, price.value)"
    cdkFocusInitial
  >
    Aceptar
  </button>
</div>
